# Dependencies
**/node_modules/
**/venv312/
**/__pycache__/

# Environment
**/.env
**/.env.local

# Build outputs
**/dist/
**/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
**/prisma/migrations/

# Python
*.pyc
*.pyo
*.pyd
.Python

# Scripts outputs
scripts/splitted_audio/
scripts/testing/
scripts/*.mp4
scripts/*.mp3
scripts/QuranVideoGen.zip